<app-toolbar id="toolbar"></app-toolbar>
<div id="base">
  <!-- BEGIN CONTENT-->
  <div id="content">
    <!-- BEGIN BLANK SECTION -->
    <section class="animated fadeIn" style="height: 45.5em">
      <div class="section-header">
        <ol class="breadcrumb">
          <li><a href="../../html/.html">home</a></li>
          <li class="active">Blank page</li>
        </ol>
      </div><!--end .section-header -->
      <div class="section-body">
        <router-outlet></router-outlet>
      </div><!--end .section-body -->
    </section>
    <!-- BEGIN BLANK SECTION -->
  </div><!--end #content-->
  <!-- END CONTENT -->

  <app-menu></app-menu>
  <div class="offcanvas">
    <app-contact></app-contact>
    <app-chat></app-chat>
  </div>
</div>
