<section class="model-6 section-floating-actions" xmlns="">
  <div class="float-btn-group" (click)="open = !open" [class.open]="open">
    <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
    <div class="btn-list">
      <a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a>
      <a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a>
      <a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a>
      <a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a>
    </div>
  </div>
</section>
