@import "~compass-mixins/lib/compass/css3";
*, *:after, *:before{
@include box-sizing(border-box);
}

.btn-float{
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border:none;
  font-size: 18px;
  color: #fff;
  text-align: center;
  position: relative;
  @include transition(.2s);
  @include border-radius(50%);
  cursor: pointer;
  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.11));
  &:hover{
    text-decoration: none;
    @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 15px rgba(0, 0, 0, 0.13));
  }
  &:active, &:focus{outline: none;}

  &+&{
    margin-left: 5px;
  }
}
.yellow{ background: #ffa000}
.blue{ background: #40c4ff}
.green{ background: #00e676}
.purple{ background: #8e24aa}
.pink{ background: #e91e63}

.icon-bars{
  background: #fff;
  height: 1px;
  width: 22px;
  margin: auto;
  display: block;
  position: relative;
  @include transition(.2s .2s);
  &:after{
    content: '';
    position: absolute;
    height: 22px;
    width: 1px;
    background: #fff;
    top: -10px;
  }
}

.float-btn-group{
  position: relative;
  float: right;
  @include transition(.2s);

  .btn-triger{
    z-index: 15;
    float: left;
  }
  .btn-list{
    position: absolute;
    right: 0;
    @include transition(.2s);
    li{
      display: inline-block;
    }
  }

  &.open{
    .icon-bars{@include rotate(135deg)}
  }
}

.model-6{
  .float-btn-group{
    float: none;
    margin: auto;
    width: 50px;
    .icon-bars{@include transition(.2s 0s)}
    .btn-list{
      width: 50px;
      height: 50px;
      left: 0;
      top: 0;
      .btn-float{
        position: absolute;
        @include scale(0);
        left: 0;
        top: 0;
        margin: auto;
        &:nth-child(1){@include transition(.3s .2s);}
        &:nth-child(2){@include transition(.3s .4s);}
        &:nth-child(3){@include transition(.3s .6s);}
        &:nth-child(4){@include transition(.3s .8s);}
      }
    }

    &.open{
      .icon-bars{@include transition(.2s)}
      .btn-list{
        .btn-float{
          @include scale(.9);
          &:nth-child(1){left:-75px; top:0px;}
          &:nth-child(2){left:-40px; top:-65px;}
          &:nth-child(3){left:40px; top:-65px;}
          &:nth-child(4){left:75px; top:0px;}
          &:hover{
            @include transition(.1s);
            @include text-shadow(1px 4px 1px #666);
          }
        }
      }
    }
  }
}
