<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-outlined card-underline style-primary">
        <div class="card-head">
          <header>Header</header>
        </div><!--end .card-head -->
        <div class="card-body">
          <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
        </div><!--end .card-body -->
      </div><!--end .card -->
    </div><!--end .col -->
    <div class="col-md-4">
      <div class="card card-outlined card-underline style-primary">
        <div class="card-head">
          <header>Header</header>
        </div><!--end .card-head -->
        <div class="card-body">
          <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
        </div><!--end .card-body -->
      </div><!--end .card -->
    </div><!--end .col -->
    <div class="col-md-4">
      <div class="card card-outlined card-underline style-primary">
        <div class="card-head">
          <header>Header</header>
        </div><!--end .card-head -->
        <div class="card-body">
          <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
        </div><!--end .card-body -->
      </div><!--end .card -->
    </div><!--end .col -->
  </div><!--end .row -->
</div>
